.wrap {
	display: flex;
	max-width: 1080px;
	margin: 0 auto;
	padding: 0 20px;
}

header {
	align-items: center;
}

body {
	margin: 0;
	padding-top: 40px;
	background-color: #001528;
	background:url(
		data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJUlEQVQoU2NkENX4z0AEYBxECveevs7gbKqJ4erB5EZcQUq0GwFmAA9jqe+rvQAAAABJRU5ErkJggg==
		 ) repeat;
	color: white;
	font-size: 16px;
	font-family: 'Major Mono Display', monospace;
}

footer p {
	margin-top: 40px;
}

h1 {
	font-size: 40px;
	color: #81C0E4;
}

h2 {
	font-size: 35px;
	color: #E07755;
}

ul {
	margin-left: 20px;
	padding-left: 20px;
}

li {
	font-family: 'News Cycle', sans-serif;
	font-stretch: expanded;
}

img {
	display: block;
	width: 100%;
}

a {
	color: #0BB5FF;
}

p {
	margin: 0;
}

.icon-container {
	width: 120px;
	margin-right: 40px;
}

.page-content {
	justify-content: space-between;
	margin-top: 100px;
	background-color: #60789A;
}

.resume-section {
	margin-bottom: 40px;
}

